*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
* a{
  text-decoration: none;}

* a:hover{
  color:  #dfa974;}

section {
  padding:10px 10px;
  font-family: cursive;

}

.nav{
  background-color: skyblue;
  background-image: url(img/e.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  height: 500px;
}
.nav_top{
  text-align: center;
  height: 75px;
  padding-top: 15px;
}
.nav_top a{
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  padding: 10px;
  color: #fff;

}

 .nav_center{
   padding-top: 10%;
   text-align: center;
     color: white;

  }

  .nav_center h1{
    font-size: 30pt;
    padding-bottom: 10px;
  }


.update{
    background-color: white;
    align-items: center;
  	text-align: center;
}


        .row_contents {
          padding: 30px 35px 18px;
          -webkit-transition: all 0.3s;
        	-o-transition: all 0.3s;
        	transition: all 0.3s;

        }
        .row_contents:hover {
        	background: #dfa974;
        }

        .row_contents:hover h2 {
        	color: #ffffff;
        }
        .row_contents:hover p {
        	color: #ffffff;
        }
        .row_contents h2 {
          text-align: center;
        	color: #19191a;
        	font-size: 22px;
        	margin-bottom: 15px;
        	margin-top: 10px;
        	-webkit-transition: all 0.3s;
        	-o-transition: all 0.3s;
        	transition: all 0.3s;
        }
        .row_contents p {
          text-align: center;
        	color: #707079;
        	-webkit-transition: all 0.3s;
        	-o-transition: all 0.3s;
        	transition: all 0.3s;
        }



.Info_box{

}
.logo{
float: left;
}
.info{
  float: right;
}


.footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #dfa974;

   }

.social {

  text-align: center;
}
.footer .social img{
  width:20px;
  padding: 10px;
}
